<section>
  <div class="page-header">
    <h1>Ofertas</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="oferta in vm.ofertas"
       ui-sref="ofertas.view({ ofertaId: oferta._id })"
       class="list-group-item">
      <small class="list-group-item-text">
      </small><br>
      <span>Nome:</span>
      <h4 class="list-group-item-heading" ng-bind="oferta.title"></h4>
      <span>Categoria:</span>
      <h4 class="list-group-item-heading" ng-bind="oferta.categoria"></h4>
      <span>Valor da Oferta:</span>
      <h4 class="list-group-item-heading" ng-bind="oferta.preco"></h4><br>
        Posted on
        <span ng-bind="oferta.created | date:'mediumDate'"></span>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.ofertas.$resolved && !vm.ofertas.length">
    No Ofertas yet, why don't you <a ui-sref="ofertas.create">create one</a>?
  </div>
</section>
