<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>Tripl3 Drink</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        The Alcool Game App
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/ofertas" target="_self">Lista Ofertas</a>
        <a class="btn btn-success btn-lg" href="/ofertas/create" target="_blank">Criar Oferta</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><center><strong>E</strong>mpresas</center></h2>
      <center><a target="_blank" href="/empresas"><img class="img-responsive text-center" src="modules/core//img/groups/business-icon.png"/></a></center>
      <p>
        A mobilidade dos capitais internacionais é responsável pelo estabelecimento das condições financeiras exigidas.
      </p>
    </div>
    <div class="col-md-3">
      <h2><center><strong>C</strong>onsultores</center></h2>
      <center><img class="img-responsive text-center" src="modules/core//img/groups/analist-icon.png"/></center>
      <p>Nunca é demais lembrar que a adoção de políticas descentralizadoras afeta a previsão.</p>
    </div>
    <div class="col-md-3">
      <h2><center><strong>I</strong>nvestidores</center></h2>
      <center><img class="img-responsive text-center" src="modules/core//img/groups/invest-icon.png"/></center>
      <p>O empenho em analisar a consulta aos diversos militantes afeta positivamente a correta previsão 
        das novas proposições.</p>
    </div>
    <div class="col-md-3">
      <h2><center><strong>B</strong>ancos</center></h2>
      <center><img class="img-responsive text-center" src="modules/core//img/groups/bank-icon.png"/></center>
      <p>A prática cotidiana prova que o julgamento imparcial das eventualidades facilita a criação da gestão inovadora.</p>
    </div>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The PortCore Team.
</section>
